@charset "utf-8";
/* CSS Document */

/*
project: flashmobstream
date: 21/08/09
*/
img 
{
	border: 0px;
}

#notice  {
	position:relative;
	height:18px;
	background-color: yellow;
	width:900px;
	margin:auto;
	text-align: right;
}

#error {
	background-color:red;
	color:white;
	left:350px;
	padding:6px;
	position:absolute;
	top:147px;
	z-index:1000;
}

body
{
	color:#333;
	font-family:Tahoma;
	font-size:11px;
	margin:0px;
}

#area_globalcontainer
{
	height:auto;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:20px;
	width:902px;
}

#area_logo
{
	height:60px;
	left:0px;
	position:absolute;
	top:0px;
	width:345px;
}

#area_login
{
	background-image:url(../images/area_loggedbg.png);
	background-position:top left;
	background-repeat:no-repeat;
	color:#09F;
	height:36px;
	left:495px;
	padding-top:18px;
	position:absolute;
	text-align:center;
	top:5px;
	width:415px;
}
#area_login select
{
	width:160px;	
}
