Login OpenID
<% if !current_user %>
<% form_for @user_session, :url => user_session_path do |f| %>
  <select id="user_session_openid_identifier" name="user_session[openid_identifier]">
    <option value="https://www.google.com/accounts/o8/id">Google</option>
    <option value="http://yahoo.com/">Yahoo</option>
    <option value="http://openid.aol.com/">AOL</option>
  </select>
  <%= f.submit 'Send' %>
<% end %>
<% end %>