Login OpenID
<% form_for @user_session, :url => user_session_path do |f| %>
  <select id="user_session_openid_identifier" name="user_session[openid_identifier]">
    <option value="https://www.google.com/accounts/o8/id">Google</option>
    <option value="http://yahoo.com/">Yahoo</option>
    <option value="http://myopenid.com/">My OpenID</option>
  </select>
  <%= f.submit 'Send' %>
<% end %>

<% if current_user %>
  <%= link_to 'New event', new_event_path %>
<% end %>

<% @next_events.each do |event| %>
  <%=h event.name %>
<% end %>

<% @past_events.each do |event| %>
  <%=h event.name %>
<% end %>

<div id="area_globalcontainer">
	<div id="area_logo">
		<img src="assets/images/fms_logo.png" width="260" height="60" alt="Come and share events everywhere." />

	</div>
	<div id="area_login">
		<form id="frm_login">
		<select id="sel_openid">
			<option value="_">value 1</option>
			<option value="_">value 2</option>
			<option value="_">value 3</option>

		</select>
		<input type="submit" value="Send" />
		</form>
	</div>
	<div id="area_label"></div>
	<div id="area_newevent"><img src="assets/images/btn_newevent.png" width="230" height="40" alt="Join the community and create your own events!" /></div>
	<div id="area_gmaps">
		<div id="gmaps_features"></div>
	</div>

	<div id="area_contentshadow"></div>
	<div id="area_contentbg">
		<div id="area_upcomingevents">
			<div id="header_upcomingevents">
				<img src="assets/images/header_upcomingevents.png" width="202" height="30" alt="Upcoming Events: A fresh list of the upcoming events on Flashmobstream." />
			</div>
			<div class="eventlist_top"></div>
			<div class="eventlist_mid">
				<!--Repeater-->

				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="28%" rowspan="2">
							<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" /></td>
						<td width="72%" class="eventtitle">Smurfs Meeting</td>
					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consecteur adipscing elit...</td>

					</tr>
					<tr>
						<td colspan="2" class="btn_moreinfo"><img src="assets/images/btn_moreinfo.png" width="83" height="27" /></td>
					</tr>
				</table>
				<br />
				<!--/Repeater-->
				<!--Repeater-->
				<table width="100%" border="0" cellpadding="0" cellspacing="0">

					<tr>
						<td width="28%" rowspan="2">
							<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" /></td>
						<td width="72%" class="eventtitle">Smurfs Meeting</td>
					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consecteur adipscing elit...</td>
					</tr>

					<tr>
						<td colspan="2" class="btn_moreinfo"><img src="assets/images/btn_moreinfo.png" width="83" height="27" /></td>
					</tr>
				</table>
				<br />
				<!--/Repeater-->
				<!--Repeater-->
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>

						<td width="28%" rowspan="2">
							<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" /></td>
						<td width="72%" class="eventtitle">Smurfs Meeting</td>
					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consecteur adipscing elit...</td>
					</tr>
					<tr>

						<td colspan="2" class="btn_moreinfo"><img src="assets/images/btn_moreinfo.png" width="83" height="27" /></td>
					</tr>
				</table>
				<br />
				<!--/Repeater-->
				<!--Repeater-->
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="28%" rowspan="2">

							<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" /></td>
						<td width="72%" class="eventtitle">Smurfs Meeting</td>
					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consecteur adipscing elit...</td>
					</tr>
					<tr>
						<td colspan="2" class="btn_moreinfo"><img src="assets/images/btn_moreinfo.png" width="83" height="27" /></td>

					</tr>
				</table>
				<br />
				<!--/Repeater-->
				<!--Repeater-->
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="28%" rowspan="2">
							<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" /></td>

						<td width="72%" class="eventtitle">Smurfs Meeting</td>
					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consecteur adipscing elit...</td>
					</tr>
					<tr>
						<td colspan="2" class="btn_moreinfo"><img src="assets/images/btn_moreinfo.png" width="83" height="27" /></td>
					</tr>

				</table>
				<br />
				<!--/Repeater-->
			</div>
			<div class="eventlist_bottom"></div>
		</div>
		<div id="area_closeevents">
			<div id="header_closeevents">
				<img src="assets/images/header_closeevents.png" width="202" height="30" alt="Close Events: See the events that are about to happen close to you!" />

			</div>
			<div class="eventlist_top"></div>
			<div class="eventlist_mid">
				<!--Repeater-->
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="28%" rowspan="2">
							<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" /></td>
						<td width="72%" class="eventtitle">Smurfs Meeting</td>

					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consecteur adipscing elit...</td>
					</tr>
					<tr>
						<td colspan="2" class="btn_moreinfo"><img src="assets/images/btn_moreinfo.png" width="83" height="27" /></td>
					</tr>
				</table>

				<br />
				<!--/Repeater-->
				<!--Repeater-->
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="28%" rowspan="2">
							<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" /></td>
						<td width="72%" class="eventtitle">Smurfs Meeting</td>

					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consecteur adipscing elit...</td>
					</tr>
					<tr>
						<td colspan="2" class="btn_moreinfo"><img src="assets/images/btn_moreinfo.png" width="83" height="27" /></td>
					</tr>
				</table>

				<br />
				<!--/Repeater-->
				<!--Repeater-->
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="28%" rowspan="2">
							<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" /></td>
						<td width="72%" class="eventtitle">Smurfs Meeting</td>

					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consecteur adipscing elit...</td>
					</tr>
					<tr>
						<td colspan="2" class="btn_moreinfo"><img src="assets/images/btn_moreinfo.png" width="83" height="27" /></td>
					</tr>
				</table>

				<br />
				<!--/Repeater-->
				<!--Repeater-->
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="28%" rowspan="2">
							<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" /></td>
						<td width="72%" class="eventtitle">Smurfs Meeting</td>

					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consecteur adipscing elit...</td>
					</tr>
					<tr>
						<td colspan="2" class="btn_moreinfo"><img src="assets/images/btn_moreinfo.png" width="83" height="27" /></td>
					</tr>
				</table>

				<br />
				<!--/Repeater-->
				<!--Repeater-->
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="28%" rowspan="2">
							<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" /></td>
						<td width="72%" class="eventtitle">Smurfs Meeting</td>

					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consecteur adipscing elit...</td>
					</tr>
					<tr>
						<td colspan="2" class="btn_moreinfo"><img src="assets/images/btn_moreinfo.png" width="83" height="27" /></td>
					</tr>
				</table>

				<br />
				<!--/Repeater-->
			</div>
			<div class="eventlist_bottom"></div>
		</div>
		<div id="area_pastevents">
			<div id="header_pastevents">
				<img src="assets/images/header_pastevents.png" width="202" height="30" alt="Past Events: See the comments, videos and ratings of the most recent events of our community!" />
			</div>

			<div class="eventlist_top"></div>
			<div class="eventlist_mid">
				<!--Repeater-->
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="28%" rowspan="2">
							<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" /></td>
						<td width="72%" class="eventtitle">Smurfs Meeting</td>

					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consecteur adipscing elit...</td>
					</tr>
					<tr>
						<td colspan="2" class="btn_moreinfo"><img src="assets/images/btn_moreinfo.png" width="83" height="27" /></td>
					</tr>
				</table>

				<br />
				<!--/Repeater-->
				<!--Repeater-->
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="28%" rowspan="2">
							<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" /></td>
						<td width="72%" class="eventtitle">Smurfs Meeting</td>

					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consecteur adipscing elit...</td>
					</tr>
					<tr>
						<td colspan="2" class="btn_moreinfo"><img src="assets/images/btn_moreinfo.png" width="83" height="27" /></td>
					</tr>
				</table>

				<br />
				<!--/Repeater-->
				<!--Repeater-->
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="28%" rowspan="2">
							<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" /></td>
						<td width="72%" class="eventtitle">Smurfs Meeting</td>

					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consecteur adipscing elit...</td>
					</tr>
					<tr>
						<td colspan="2" class="btn_moreinfo"><img src="assets/images/btn_moreinfo.png" width="83" height="27" /></td>
					</tr>
				</table>

				<br />
				<!--/Repeater-->
				<!--Repeater-->
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="28%" rowspan="2">
							<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" /></td>
						<td width="72%" class="eventtitle">Smurfs Meeting</td>

					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consecteur adipscing elit...</td>
					</tr>
					<tr>
						<td colspan="2" class="btn_moreinfo"><img src="assets/images/btn_moreinfo.png" width="83" height="27" /></td>
					</tr>
				</table>

				<br />
				<!--/Repeater-->
				<!--Repeater-->
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="28%" rowspan="2">
							<img class="eventimage" src="assets/images/eventimage.png" width="40" height="40" /></td>
						<td width="72%" class="eventtitle">Smurfs Meeting</td>

					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consecteur adipscing elit...</td>
					</tr>
					<tr>
						<td colspan="2" class="btn_moreinfo"><img src="assets/images/btn_moreinfo.png" width="83" height="27" /></td>
					</tr>
				</table>

				<br />
				<!--/Repeater-->
			</div>
			<div class="eventlist_bottom"></div>
		</div>
		<!--
		<div id="area_media">
			<div id="media_top">
				<img src="assets/images/media_top.png" width="221" height="25" />
			</div>
			<div id="media_mid">
				<div id="medialist">
					<div id="video_one"><img src="assets/images/btn_watchvideo.png" width="48" height="30" /></div>
					<div id="video_two"><img src="assets/images/btn_watchvideo.png" width="48" height="30" /></div>
					<div id="video_three"><img src="assets/images/btn_watchvideo.png" width="48" height="30" /></div>
				</div>
			</div>
			<div id="media_bottom">
				<img src="assets/images/media_bottom.png" width="221" height="25" />
			</div>
		</div>
		-->
		<div id="area_latestmedia"></div>
	<div id="area_footer"></div>
	</div>

</div>
